.klocwork/
*.perspective
*.perspectivev3
*.pbxuser
xcuserdata/
*.sln
*.suo
*.opensdf
*.sdf
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.ipch
*.opendb
*.VC.db
*.nvuser
Debug/
Release/
GeneratedFiles/
*.xccheckout
external/
